.mint_card {
	border: 2px solid #fff;
	padding: 10px;
	text-align: center;

	.img_container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0;

		img {
			width: 180px;
			object-fit: contain;
		}
	}
}


@include tablet-screen {
	.mint_card{
		position: relative;
		height: 200px;


		.img_container {
			position: absolute;
			right: 10px;
			bottom: 10px;

			img {
				max-width: 120px;

			}
		}

		h3 {
			position: absolute;
			border: 1px solid #fff;
			top: -1px;
			left: -1px;
			padding: 5px 8px;
		}

		h4 {
			position: absolute;
			bottom: -1px;
			left: -1px;
			padding: 5px 8px;
		}
	}

}